.App
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aquamarine;
}

.board-container
{
  height: 300px;
  width: 300px;
}

.row
{
  display: flex;
}

.square
{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px black solid;
  height: 100px;
  width: 100%;
  cursor: pointer;
  background-color:darkcyan;
}